/* Globalni stilovi */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
select,
button {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Stilovi za navigacijsku traku */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover,
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Stilovi za sadržaj */
.content {
    padding: 20px;
}

.content h1,
.content h2,
.content h3,
.content h4 {
    color: #333;
}

/* Stilovi liste */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

ul li code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
}

/* Stilovi tablice */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: 700;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

#data-table {
    margin-bottom: 20px;
}


/* Container stilovi */
.container {
    width: 80%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}



#filter-form {
    margin-bottom: 20px;
}

.download-links a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-links a:hover {
    background-color: #367c39;
}

form input[type="text"],
form input[type="number"],
form select,
form button {
    display: inline-block;
    width: 40%;
    margin: 10px 0;
    margin-left: 25%;
}